#team{
    background-image: url('../assets/img/background3.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .front{
        height: 25vh;
        width: auto;
        background-image: url("../assets/img/background2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}