#card{
    width: 35vw;
    border-radius: 3%;
    margin-top: 10%;
    background-color: transparent;

    img{
        border-radius: 10%;
        opacity: 1.0;
    }

    .card-body{
        opacity: 0.5;
    }
}